In [1]:
import pandas as pd

In [4]:
money = pd.read_excel("usd_exchange_rate.xlsx") #Data Frame

In [6]:
past = 7 * 4

In [5]:
money

     nominal       data     curs         cdx
0          1 2018-01-10  57.0463  Доллар США
1          1 2018-01-11  56.8734  Доллар США
2          1 2018-01-12  56.9957  Доллар США
3          1 2018-01-13  56.6019  Доллар США
4          1 2018-01-16  56.3569  Доллар США
..       ...        ...      ...         ...
516        1 2020-02-11  63.7708  Доллар США
517        1 2020-02-12  63.9490  Доллар США
518        1 2020-02-13  63.0470  Доллар США
519        1 2020-02-14  63.6016  Доллар США
520        1 2020-02-15  63.4536  Доллар США

[521 rows x 4 columns]